asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
DateTime==5.5
Django==5.1.6
django-cors-headers==4.7.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
idna==3.10
joblib==1.4.2
nba_api==1.7.0
numpy==1.26.4
pandas==2.2.3
psycopg2-binary==2.9.10
PyJWT==2.9.0
pymongo==4.11.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2025.1
urllib3==2.3.0
zope.interface==7.2
